:root {
    --dark: #212121;
    --dark_gray: #21212138;
    --primary: #4A40B9;
    --primary_light: #3F51B524;
    --primary_dark: #201A62;
    --card_blue: #536DFE;
    --card_orange: #FF8000;
    --card_yellow: #F0A202;
    --card_green: #189B62;
    --card_red: #FF0000;
    --cover_background: #FAFEFF;
    --dashboard_background: #F8F8F8;
    --primary_pink: #EA4335;
    --primary_pink_light: #EA433536;
    --primary_link: #3488ED;
    --primary_error: #E02B1D;
    --light_gray: #C5CAE838;
    --border_color: #BDBDBD;
}
